.container{
    width: 1150px;
    margin: auto;
    outline: solid 2px;
}

.flex-box1{
    display: flex;
    justify-content: space-between;
    height: 85px;
}

.header-content{
    text-align: center;
    height: 600px;
}

.abouts{
    text-align:center;
    height: 200px;
}

.flex-box2{
    display: flex;
}

.flex-box2 .about-image,
.flex-box2 .about-content{
    width: 50%;
    height: 1000px;
    outline: solid 2px green;
}

.flex-box3{
    display: flex;
    /* for getting a second line */
    /* flex-wrap: wrap;     */
}

.flex-box3 .specs{
    width: 25%;
    outline: solid 2px yellow;
    height: 500px;
}

.flex-box4{
    display: flex;
}

.flex-box4 .numbers{
    width: 25%;
    outline: solid 2px #7F5283;
    height: 340px;
}

.flex-box5{
    display: flex;
    flex-wrap: wrap;
}

.menus{
    text-align: center;
    height: 200px;
}
.flex-box5 .foods{
    width: 33%;
    height: 500px;
    outline: solid 2px #D61C4E;
}

.testimonials{
    /* height:125px; */
    text-align: center;
}

.flex-box6{
    display: flex;
}

.flex-box6 .feedback{
    width: 50%;
    height: 300px;
    text-align: center;
}

.flex-box7{
    display: flex;
}

.flex-box7 .eventdetails{
    width: 33%;
    height: 500px;
    outline: solid 2px #3330E4;
}