.container{
    width: 1150px;
    margin: auto;
    outline: solid 2px;
}

.flex-box1{
    display: flex;
    justify-content: space-between;
}

.about-us{
    display: flex;
    justify-content:center;
}

.flex-box2{
    display: flex;
}

.flex-box2 .about-image,
.flex-box2 .about-content{
    width: 50%;
}

.flex-box3{
    display: flex;
    /* for getting a second line */
    /* flex-wrap: wrap;     */
}

.flex-box3 .specs{
    width: 25%;
    outline: solid 2px yellow;
    height: 100px;
}